<div class="center jumbotron text-center">
  <h1>FAMS Tools</h1>
</div>

<%= render 'shared/flashes' %>

<div class="container-fluid">
  <h3>Setup</h3>
  <ol>
    <li>First, update the local database with the most recent user data from the <a href="https://www.digitalmeasures.com/login/psu/admin/security/management/user/downloadUsers.do?selectedUsers=345">psu-users.xls</a> file</li>
  </ol>
  <h4>Update User Data</h4>
  <%= form_with :url => { :action => "update_ai_user_data" }, id: "psu-users" do |form| %>
    <p> <%= label(:psu_users_file, text = "psu-users.xls File") %><%= form.file_field :psu_users_file %> </p>
    <div class="row">
    <div class="col-xs-1", style="padding:5px 5px;">
      <p> <%= form.button "Update".html_safe, class:"btn btn-primary", type: :submit, :data => { disable_with: "<i class='fa fa-spinner fa-pulse'></i> Updating..." } %> </p>
    </div>
    </div>
  <% end %>
</div>

<hr>

<div class="container">
  <h3>CV Parser</h3>
    <ol>
      <li>Give your Citation Spreadsheet a title in the first form box</li>
      <li>Enter the CV owner's access id (not full email) in the next box</li>
      <li>Select from the drop-down the type of publication/presentation you are parsing</li>
      <li>Copy and paste your citations into the final form box</li>
      <li>Then simply click 'Create Citation Spreadsheet'</li>
      <li>Your parsed citations an now be found below the CV parser in the last link under 'Listing of publication listings'</li>
      <li>Click that link and it will take you to the 'Works' page</li>
      <li>Your data will be displayed here but it is not entirely reflective of the final spreadsheet output</li>
      <li>Click the link at the top to 'Download as xlsx' or 'Download as csv'</li>
    </ol>
  <h3>AI-Integration</h3>
  <p>To begin integrating data into Activity Insight, first update the users database above.  Then click the "Integration" link in the navigation bar above.  You will then need to select an integration type from the dropdown and follow the directions below.</p>
  <ul>
    <li><h5>Contract/Grant Integration</h5></li>
    <ol>
      <li>Download OSP data in csv format: <a href="https://service.sims.psu.edu/digitalmeasures/dmresults.csv">dmresults.csv</a></li>
      <li>Convert dmresults.csv to an xlsx file</li>
      <li>From the integration screen, upload this file where it says "Osp data file"</li>
      <li>Download a backup .zip from the <a href="https://webservices.digitalmeasures.com/login/service/v4/SchemaData:backup/INDIVIDUAL-ACTIVITIES-University">AI backup resource</a></li>
      <li>Unzip and open the CONGRANT.csv file</li>
      <li>Format the 'ID' column to a number with 0 decimal places and save the file as a tab-delimited text file</li>
      <li>From the integration screen, upload this file where it says "Congrant backup file"</li>
      <li>Enter the passcode and click the button corresponding to the target environment you wish to integrate with</li>
    </ol>
    <li><h5>Courses Taught Integration</h5></li>
    <ol>
      <strong class="text-danger">This integration is fully automated.  It runs at 00:00 on July 1st, October 1st, and February 1st.</br>
      If you are using iTwo to generate the file, you must use DM's manual import.</br>
      To run this integration with the GUI:</strong>
      </br>
      </br>
      <li>Use `sftp` to download the latest Courses Taught file from the Lionpath server to the Rubytools server</li>
      <li>Use `scp` to copy this file from the Rubytools server to a local machine</li>
      <li>From the integration screen, upload this file where it says "Courses taught data file"</li>
      <li>Enter the passcode and click the button corresponding to the target environment you wish to integrate with</li>
    </ol>
    <li><h5>GPA Data Integration</h5></li>
    <ol>
      <li>Download the latest GPA data.  This will be stored in box and obtained from the College of Liberal Arts.</li>
      <li>Make sure the headers are formatted in the following way:<img src="gpa-headers.png" alt="headers example"></li>
      <li>If the file is not already an xlsx, convert to xlsx.</li>
      <li>From the integration screen, upload this file where it says "Gpa data file"</li>
      <li>Enter the passcode and click the button corresponding to the target environment you wish to integrate with</li>
    </ol>
    <li><h5>Publications Integration</h5></li>
    <ol>
      <li>This will gather data from the Metadata Database through its API.  No file is required</li>
      <li>Enter the passcode and click the button corresponding to the target environment you wish to integrate with</li>
    </ol>
    <li><h5>Personal & Contact Info Integration</h5></li>
    <ol>
      <li>This will gather data from LDAP through its API.  No file is required</li>
      <li>Enter the passcode and click the button corresponding to the target environment you wish to integrate with</li>
    </ol>
  </ul>
  </br>
</div>
