<h1>Works: <%= @publication_listing.name %> (<%= @works.count %> records)</h1>
<%= link_to "<< Back to Publication Listing", publication_listings_path %>
| 
<%= link_to "Download as xlsx", publication_listing_works_path(format: :xlsx) %>
|
<%= link_to "Download as csv", publication_listing_works_path(format: :csv) %>

<%= form_for @publication_listing do |f| %>
  <div class="row-full">
    <div class="works-box">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Username</th>
          <th>Authors</th>
          <th>Title</th>
          <th>Journal</th>
          <th>Volume</th>
          <th>Edition</th>
          <th>Pages</th>
          <th>Date</th>
          <th>Booktitle</th>
          <th>Container</th>
          <th>Type</th>
          <th>Contype</th>
          <th>Doi</th>
          <th>Editor</th>
          <th>Institution</th>
          <th>Isbn</th>
          <th>Location</th>
          <th>Note</th>
          <th>Publisher</th>
          <th>Retrieved</th>
          <th>Tech</th>
          <th>Translator</th>
          <th>Unknown</th>
          <th>Url</th>
        </tr>
      </thead>
      <tbody>
        <% counter = 1 %>
        <%= f.fields_for :works do |fw| %>
          <% table_row = counter.to_i.odd? ? "<tr class='grey-row'>".html_safe : "<tr>".html_safe %>
          <%= table_row %>
            <td><%= counter.to_s %></td>
            <td colspan="24"><%= fw.object.citation %></td>
          </tr>
          <%= table_row %>
            <td><%= counter.to_s %><% counter += 1 %></td>
            <td><%= fw.text_field :username, size: "5x3" %></td>
            <td class="names-column">
            <% counter_2 = 1 %>
            <%= fw.fields_for :authors do |fwa| %>
              <div class="row names-column">
                <%= counter_2.to_s %>.<%= render 'author_fields', f: fwa %>
                <% counter_2 += 1 %>
              </div>
            <% end %>
            <div>
              <%= link_to_add_association 'Add Author', fw, :authors %>
            </div>
            </td>
            <td><%= fw.text_area :title, size: "15x10" %></td>
            <td><%= fw.text_area :journal, size: "10x3" %></td>
            <td><%= fw.text_field :volume, size: "4x2" %></td>
            <td><%= fw.text_field :edition, size: "4x2" %></td>
            <td><%= fw.text_field :pages, size: "5x2" %></td>
            <td><%= fw.text_area :date, size: "10x3" %></td>
            <td><%= fw.text_area :booktitle, size: "10x3" %></td>
            <td><%= fw.text_area :container, size: "15x10" %></td>
            <td><%= fw.text_field :genre, size: "10x3" %></td>
            <td><%= fw.text_field :contype, size: "10x3" %></td>
            <td><%= fw.text_area :doi, size: "10x3" %></td>
            <td>
            <% counter_3 = 1 %>
            <%= fw.fields_for :editors do |fwe| %>
              <div class="row names-column">
                <%= counter_3.to_s %>.<%= render 'editor_fields', f: fwe %>
                <% counter_3 += 1 %>
              </div>
            <% end %>
            <div class="names-column">
              <%= link_to_add_association 'Add Editor', fw, :editors %>
            </div>
            </td>
            <td><%= fw.text_area :institution, size: "10x3" %></td>
            <td><%= fw.text_area :isbn, size: "10x3" %></td>
            <td><%= fw.text_area :location, size: "10x3" %></td>
            <td><%= fw.text_area :note, size: "10x3" %></td>
            <td><%= fw.text_area :publisher, size: "10x3" %></td>
            <td><%= fw.text_area :retrieved, size: "7x2" %></td>
            <td><%= fw.text_area :tech, size: "7x2" %></td>
            <td><%= fw.text_area :translator, size: "7x2" %></td>
            <td><%= fw.text_area :unknown, size: "7x2" %></td>
            <td><%= fw.text_area :url, size: "10x3" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    </div>
  </div>
  </br>
  <%= f.submit "Update Works", action: :update, class: "btn btn-primary" %>
<% end %>
