<h1>Works: <%= @publication_listing.name %> (<%= @works.count %> records)</h1>
<%= link_to "<< Back to Publication Listing", publication_listings_path %>
| 
<%= link_to "Download as xlsx", publication_listing_works_path(format: :xlsx) %>
|
<%= link_to "Download as csv", publication_listing_works_path(format: :csv) %>

<div class="row-full">
  <div class="works-box">
  <table class="table">
    <thead>
      <tr>
        <th>Citation #</th>
        <th>Username</th>
        <th>Author</th>
        <th>Title</th>
        <th>Journal</th>
        <th>Volume</th>
        <th>Edition</th>
        <th>Pages</th>
        <th>Date</th>
        <th>Booktitle</th>
        <th>Container</th>
        <th>Type</th>
        <th>Contype</th>
        <th>Doi</th>
        <th>Editor</th>
        <th>Institution</th>
        <th>Isbn</th>
        <th>Location</th>
        <th>Note</th>
        <th>Publisher</th>
        <th>Retrieved</th>
        <th>Tech</th>
        <th>Translator</th>
        <th>Unknown</th>
        <th>Url</th>
      </tr>
    </thead>
    <tbody>
      <% @works.each_with_index do |w, index| %>
        <tr>
          <td><%= index.to_i + 1 %></td>
          <td colspan="24"><%= w.citation %></td>
        </tr>
        <tr>
          <td><%= index.to_i + 1 %></td>
          <td><%= w.username %></td>
          <td><%= w.author %></td>
          <td><%= w.title %></td>
          <td><%= w.journal %></td>
          <td><%= w.volume %></td>
          <td><%= w.edition %></td>
          <td><%= w.pages %></td>
          <td><%= w.date %></td>
          <td><%= w.booktitle %></td>
          <td><%= w.container %></td>
          <td><%= w.genre %></td>
          <td><%= w.contype %></td>
          <td><%= w.doi %></td>
          <td><%= w.editor %></td>
          <td><%= w.institution %></td>
          <td><%= w.isbn %></td>
          <td><%= w.location %></td>
          <td><%= w.note %></td>
          <td><%= w.publisher %></td>
          <td><%= w.retrieved %></td>
          <td><%= w.tech %></td>
          <td><%= w.translator %></td>
          <td><%= w.unknown %></td>
          <td><%= w.url %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
</div>
