<div class="col-sm">
  <%= form_with :url => { :action => "lionpath_integrate" }, id: "courses" do |form| %>
    <p> <%= label(:courses_file, text = "Courses Taught Data File") %><%= form.file_field :courses_file, required: true %> </p>
    <div class="row">
      <%= render 'buttons_and_code', form: form %>
    </div>
  <% end %>
</div>
<div class="col-sm">
  <h4>Courses Taught Integration Errors:</h4>
  <br/>
  <p><%= link_to "Download Error Log", "psu/error_outputs/courses_errors.log", download: "courses_errors.log", target: '_blank', class: "btn btn-secondary" %></p>
</div>