<div class="col-sm">
  <%= form_with :url => { :action => "gpa_integrate" }, id: "gpa" do |form| %>
    <p> <%= label(:gpa_file, text = "GPA Data File") %><%= form.file_field :gpa_file, required: true %> </p>
    <div class="row">
      <%= render 'buttons_and_code', form: form %>
    </div>
  <% end %>
</div>
<div class="col-sm">
  <h4>GPA Integration Errors:</h4>
  <br/>
  <%= render 'file_download_button', log_path: @gpas_log_path %>
</div>