<div class="col-sm">
  <%= form_with :url => { :action => "ldap_check" }, id: "ldap_check" do |form| %>
    <p> <%= label(:ldap_check_file, text = "Usernames to check") %>
        <%= form.file_field :ldap_check_file, required: true %> 
    </p>
    <p> <%= label(:ldap_should_disable, text = "Disable found users?") %>
        <%= form.check_box :ldap_should_disable %> 
    </p>
    <div class="row">
      <%= render 'buttons_and_code', form: form %>
    </div>
  <% end %>
</div>
<div class="col-sm">
  <h4>LDAP Check Errors:</h4>
  <br/>
  <%= render 'file_download_button', log_path: @ldap_check_log_path %>
</div>
