<%= link_to "<<Back", root_path %>
<h1>AI-Integration</h1>
<h3>Contract/Grant Integration</h3>
<%= form_with :url => { :action => "osp_integrate" } do |form| %>
  <p> <%= label(:congrant_file, text = "OSP Data File") %><%= form.file_field :congrant_file %> </p>
  <p> <%= form.submit "Run Integration" %> </p>
<% end %>
<hr>
<h3>Courses Taught Integration</h3>
<%= form_with :url => { :action => "lionpath_integrate" } do |form| %>
  <p> <%= label(:courses_file, text = "Courses Taught Data File") %><%= form.file_field :courses_file %> </p>
  <p> <%= form.submit "Run Integration" %> </p>
<% end %>
<hr>
<h3>Publications Integration</h3>
<hr>
