<div class="center jumbotron text-center">
  <h1>AI-Integration</h1>
</div>

<%= render 'shared/flashes' %>

<div class="row">
  <%= render 'congrant' %>
</div>
<hr>

<div class="row">
  <%= render 'courses_taught' %>
</div>
<hr>

<div class="row">
  <%= render 'gpa' %>
</div>
<hr>

<div class="row">
  <%= render 'publications' %>
</div>
<hr>

<div class="row">
  <%= render 'personal_contact' %>
</div>
<hr>

<div class="row">
  <%= render 'cv_publications' %>
</div>

<hr>
<div class="row">
  <%= render 'cv_presentations' %>
</div>
