<h1>PublicationListings</h1>

<h3>Create a new publication listing</h3>
<%= form_with( url: publication_listings_url, :multipart => true ) do |f| %>
<p><%= label(:publication_file, "Publication Data File") %><%= f.file_field :publication_file %></p>
<p><%= label(:training_file, "Training Data File (Optional)") %><%= f.file_field :training_file %></p>
<%= f.submit "Create Citation Spreadsheet" %>
<% end %>

<hr>
<h3> Listing of publication listings</h3> 
<% @publication_listings.each do |pl| %>
  <%= link_to  pl.path, publication_listing_works_url(pl) %> (<%= pl.works.count %> Records)<br>
<% end %>
