<div class="center jumbotron text-center">
  <h1>CV Parser</h1>
</div>

<div class="container">
  <h3>Create a new publication listing</h3>
  <%= form_with( url: publication_listings_url, :multipart => true ) do |f| %>
    <p><%= label(:citations_title, "Citations title:") %><%= f.text_field :citations_title, required: true%></p>
    <p><%= label(:username, "CV Owner's WebAccess ID:") %><%= f.text_field :username, required: true%></p>
    <p><%= f.select :contype, options_for_select(["Journal Article", "Conference Proceeeding", "Abstract", 
                                                  "Book", "Book Review", "Book, Chapter", "Cited Research", 
                                                  "Encyclopedia Entry", "Exhibition Catalog", "Extension Publication", 
                                                  "Instructor's Manual", "Journal Article, In-House", "Magazine/Trade Publication",
                                                  "Manuscript", "Material Regarding New Courses/Curricula", "Monograph",
                                                  "Newsletter", "Newspaper", "Part of Book", "Podcast", "Study Guide",
                                                  "Technical Report", "Working Paper", "Written Case with Instructional Material",
                                                  "Other"]) %></p>
    <p><%= label(:citations, "Copy and paste citations here:") %><%= f.text_area :citations, size: "90x15"%></p>
    <p> <%= f.button "Create Citation Spreadsheet".html_safe, class:"btn btn-primary", type: :submit, :data => { disable_with: "<i class='fa fa-spinner fa-pulse'></i> Parsing..." } %> </p>
  <% end %>
</div>
<div class="container">
  <hr>
  <h3> Listing of publication listings</h3> 
  <% @publication_listings.each do |pl| %>
    <%= link_to  pl.name, publication_listing_works_url(pl) %> (<%= pl.works.count %> Records)<br>
  <% end %>
</div>
